body { 
      margin: 0; 
      padding-bottom: 3rem; 
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
      color: floralwhite;
      display: block;
      width: 200px;
      height: 200px;
      margin: 50px auto;
      border: 3px solid red
}

#messages { 
      list-style-type: none; 
      margin: 0; 
      padding: 0; 
}

#messages > li { 
      padding: 0.5rem 1rem;
      background: #efefef00; 
      animation-name:showUp;
      animation-duration: 1s;
}

@keyframes showUp {
      from{opacity: 0;}
      to{opacity: 1;}
}